doctype html
html(lang="ru" ng-app="app")
  head
    title  Sample App
    meta(charset="UTF-8")
    meta(content="images/logo.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
    link(rel="stylesheet" type="text/css" href="/assets/css/libs.css")
    link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400&subset=latin,cyrillic")
    script(src="/assets/js/libs.js")
    script(src="/assets/js/app.js")
    
  body
    div(ui-view="layout")
